.shop{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 100%;   
    margin: 0 auto;
}
.shop-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.box{
    width: 25%;
    cursor: pointer;
    margin: 1rem;
}
.box .box-img{
    width: 100%;
    position: relative;
} 
.box .box-img img{
    display: flex;
    width: 100%;
    object-fit: cover;
} 
.box .box-img .sale-title{
    position: absolute;
    top: .5rem;
    background-color: var(--var-color2);
    color: var(--var-color);
    padding: .5rem 1rem;
    left: .5rem;
}
.box .box-img .quick-viwe{
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 100%;
    line-height: 2.5;
    height: 0%;
    overflow: hidden;
    text-align: center;
    background-color: #eee;
    transition: all .3s linear;
}
.box .box-img:hover .quick-viwe{
height: 10%;
}
.box .box-img .sale-title{
    position: absolute;
    top: .5rem;
    background-color: var(--var-color2);
    color: var(--var-color);
    padding: .5rem 1rem;
    left: .5rem;
}
.dis_cont{
    text-decoration:line-through;
    margin-right: 1rem;
}

.box .box-text{
    line-height: 1.7;
    margin-top: .5rem;
}